
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a {
	color: #f7584d;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    text-decoration: none;
}




body {

    background-color: #0d131a;
		font-family: Inconsolata;
		color: black;

}

header {

    background-color: #0d131a;
    width: 100%;
    height: auto;
		text-align: center;
		color: #111;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;





}

header .header-brand{

    font-family: Inconsolata;
    font-size: 40px;
    color:  white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
		font-weight: bold;
		width: fit-content;
		margin: auto;


}

header nav{


		margin: auto;
		margin-bottom: 10px;
		padding: 10px;
    width: fit-content;
		background-color: #f7584d;
		text-align: center;


}

header nav ul li{
    display: inline-block;
    float: center;
    list-style: none;
    padding: 0 16px;


}

header nav ul li a{
    font-family: Inconsolata;
    font-size: 16px;
    color: #111;

}

footer{
		padding: 10px;
		text-align: center;
		color: #959695;
		font-size: 12px;


}


#home-picture {
    width:100%;
    height: calc(100vh - 100px);
    background-image: url('img/66812728_713232502451495_7532572789719433216_n.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
		padding:0;
		position: relative;


}


main {
	text-align: center;
	min-height: 70vh;
}

#copyright {
	position: absolute;
	display:inline-block;
	padding: 13px;
	text-align: center;
	font-size: 10px;
	width: fit-content;
	background-color: white;
	margin:20px;

}

#gallery {
	display:inline-block;
	width: auto-fit;
	height: auto-fit;
	padding: 20px;



}

#gallery-grid{
	display: inline-grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	justify-items: center;
	align-items: center;
	width: auto-fit;
	row-gap: 50px;


}

@media (max-width: 900px) {
		#gallery-grid{
			display: inline-grid;
			grid-template-columns: 1fr;
			justify-items: center;
			align-items: center;
			width: auto-fit;
			row-gap: 20px;

	}
}

a:hover, a:active {
  color: #4dcaf7 ;
}
